.vscode/**
.vscode-test/**
src/**
test/**
scripts/**
out/**
node_modules/**
.gitignore
.eslintrc.json
esbuild.config.mjs
tsconfig.json
**/*.ts
**/.DS_Store
dist/**/*.map
plugin_제작/**
.omc/**
.git/**
.github/**
package-lock.json
assets/**
media/icon.svg
*.vsix

